docotype 

html

  head

     style. 
        body {
          background-color: grey; 
        }
        h1{
          color:green;
          margin:120px;
          text-align: center;
         
        }
        .container{
          position:absolute;
          display: flex;
          padding: 3px;
          flex-wrap: wrap;
          top: 40%;
          right: 8%;
          left: 17%; 
          max-width: 100%;
          gap:20px 20px;
        }

        .content{
        height: 50px;
        background-color:lightyellow;
        flex-wrap: wrap;
        width: 50px;
        border-radius: 10px;
        text-align: center;
        padding: 25px ;
        font-size: 100%;
        }
       
  title resoult 

  body

  h1 These are the first numbers that are prime

      .container
        .content #{num1}
        .content #{num2}
        .content #{num3}
        .content #{num4}
        .content #{num5}
        .content #{num6}
        .content #{num7}
        .content #{num8}
        .content #{num9}
        .content #{num10}
      

